.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.avatarWithBorder {
  width: calc(
    3rem + 12px
  ); /*podemos ter o mesmo efeito da propriedade acima usando calc - o 12px é o tamanho da borda dos lados direito e esquerdo...*/
  height: calc(3rem + 12px);
  border-radius: 8px; /*geralmente utilizamos 'rem' para coisas que representam tamanhos na tela - largura, altura, tamanho de fonte*/
  border: 4px solid var(--gray-800);
  outline: 2px solid var(--green-500); /*outline é para colocar um contorno acima da borda*/
}
